@media (max-width:575.9px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .servicesList {
        scrollbar-width: thin;
        scrollbar-color: var(--main-color) var(--border-color);
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
    }

    .team-card-headerImg {
        height: 400px;
        object-fit: cover;
    }

    .servicesList::-webkit-scrollbar {
        height: 4px;
    }

    .servicesList::-webkit-scrollbar-thumb {
        background: var(--main-color);
        border-radius: 2px;
    }


    .navigation {
        top: 20px;
        padding: 0 10px;
    }

    .navigation .navbar-brand {
        font-size: 35px;
    }

    .navigation .nav-bg {
        padding: 12px 12px;
    }

    .hero-section::before {
        border-radius: 0 0 80px 80px;
    }

    .hero-largeTxt-area {
        position: relative;
        -webkit-transform: translateX(-0%);
        -ms-transform: translateX(-0%);
        transform: translateX(-0%);
        top: 0;
        left: 0;
        text-align: center;
    }

    .hero-contents {
        padding: 120px 0 0;
    }


    .hero-LargeTxt {
        font-size: 70px;
        letter-spacing: 2px;
    }


    .hero-subTxt-area {
        position: relative;
        top: 0;
        padding: 15px 0 30px;
        gap: 15px;
        text-align: center;
        justify-content: center;
        -webkit-transform: translateY(-0%);
        -ms-transform: translateY(-0%);
        transform: translateY(-0%);
        max-width: 100%;
    }

    .hero-count {
        text-align: center;
    }


    .hero-subTxt {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .hero-count span:first-child {
        font-size: 40px;
    }

    .hero-count span:last-child {
        font-size: 14px;
    }


    .hero-image-area {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

    .hero-rating-area {
        bottom: 40%;
        padding: 12px;
        left: 20px;
        max-width: 200px;

    }

    .hero-main-large-image {
        max-width: 100%;
    }

    .hero-rating-area img {
        width: 35px;
        height: 35px;
        margin-left: -10px;
    }

    .hero-rating-box {
        margin-left: -10px;
        width: 35px;
        height: 35px;
        font-size: 14px;
    }

    .center-btnpart {
        display: flex;
        justify-content: center;
    }

    .main-Boxbtn-outer {
        height: 48px;
        padding: 15px 60px 15px 20px;
    }

    .main-Boxbtn-Txt2 {
        font-size: 14px;
    }

    .main-Boxbtn-Txt1 {
        font-size: 14px;
    }

    .main-Boxbtn-circle {
        height: 48px;
        width: 48px;
        font-size: 14px;
    }

    .navigation .nav-link {
        font-size: 14px;
        font-weight: 500;
    }

    .navigation li {
        display: flex;
        justify-content: center;
        padding: 10px 0 10px 0 !important;
    }


    .about-section {
        padding: 100px 0 0;
    }


    .about-img-partMain {
        max-width: 100%;
        margin-top: 40px;
        height: 400px;
        object-fit: cover;
    }

    .testimonial-card-quotes-area i {
        font-size: 60px;
    }


    .about-txt-part-inner {
        position: relative;
        top: 0%;
        gap: 20px;
        -webkit-transform: translateY(-0%);
        -ms-transform: translateY(-0%);
        transform: translateY(-0%);
    }

    .topTxt-heading {
        padding-left: 100px;
        font-size: 16px;
    }

    .topTxt-heading::before {
        width: 80px;
    }

    .main-headingTxt {
        font-size: 35px;
    }

    p {
        font-size: 14px;
    }

    .textSlide-section {
        padding: 100px 0 100px;
    }

    .testslider-Txt {
        font-size: 35px;
    }

    .testslider-Txt img {
        max-width: 30px;
    }

    .textSlide-part2 {
        padding: 10px;
    }

    .testslider-Txt2 {
        font-size: 18px;
    }

    .service-section {
        padding: 0 0 80px;
    }

    .very-large-heading {
        font-size: 60px;
        letter-spacing: 2px;
    }

    .servicesList li {
        padding: 8px 15px;
        font-size: 20px;
        margin-bottom: 0;
    }

    .servicesList .servicesList-count {
        width: 38px;
        height: 38px;
        font-size: 14px;
    }

    .servicesList {
        display: flex;
        overflow-x: auto;
        gap: 20px;
    }

    .heading-bottom-space {
        margin-bottom: 30px;
    }

    .servicesList li:nth-child(even) {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .servicesList li:nth-child(odd) {
        -webkit-transform: rotate(-0deg);
        -ms-transform: rotate(-0deg);
        transform: rotate(-0deg);
    }


    .servicesList li.tab:nth-child(even).active {
        -webkit-transform: scale(1.06) rotate(0deg);
        -ms-transform: scale(1.06) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }

    .servicesList li.tab:nth-child(odd).active {
        -webkit-transform: scale(1, 1) rotate(-0deg);
        -ms-transform: scale(1, 1) rotate(-0deg);
        transform: scale(1, 1) rotate(-0deg);
    }

    .servicepaddingRight .service-lgImg {
        position: relative;
        top: 0;
    }

    .servicepaddingLeft .service-lgImg {
        display: none;
    }

    .service-lgImg {
        max-width: 100%;
        margin-top: 40px;
    }

    .team-section {
        padding: 80px 0;
        border-radius: 60px;
    }

    .team-card-body {
        top: 60%;
        width: 220px;
        height: 220px;
    }

    .team-card-body-txt h4 {
        font-size: 20px;
    }

    .project-section {
        padding: 100px 0 0;
    }

    .project-cardmain {
        height: auto;
        padding: 20px 20px 20px 30px;
        gap: 10px;
    }

    .project-cardmain-imgmain {
        height: 120px;
        width: 120px;
    }

    .project-cardmain-heading {
        font-size: 18px;
    }

    .project-card.expanded.project-cardmain {
        flex-wrap: wrap;
    }

    .project-card.expanded {
        height: auto;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;

    }


    .project-card.expanded .project-cardmain-imgmain {
        max-width: 250px;
        height: 300px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
    }

    .project-cardmain-imgpart {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

    .project-card.expanded .project-cardmain-imgpart {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .top-margin {
        margin-top: 40px;
    }

    .mainbtn-cicleBox {
        width: 120px;
        height: 120px;
        font-size: 14px;
    }

    .testimonial-section {
        padding: 100px 0;
        margin-bottom: 100px;
    }

    .testimonial-card-quotes-area i {
        z-index: 300px;
    }

    .testimonial-card-content-TXT {
        font-size: 16px;
    }

    .testimonial-card-content {
        padding: 20px 0 0;
    }

    .testimonial-clientName-Txt {
        font-size: 20px;
    }

    .testimonial-section .custom-btn {
        font-size: 14px;
    }

    .footer-section {
        border-radius: 60px 60px 0 0;
    }

    .footer-largebgTXT {
        font-size: 130px;
    }

    .footer-largeheading {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .footer-contact-outerFlex {
        padding: 30px 0;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 30px;
    }

    .shape-blur_one {
        width: 150px;
        height: 150px;
    }

    .footer-social-outerarea {
        align-items: start;
        text-align: start;
    }

    .footer-section-inner {
        padding: 50px 0;
    }



    .testimonial-section .custom-btn {
        padding: 10px 20px;
    }

    .testimonial-section .owl-nav {
        bottom: -80px;
    }

    .footer-contact-outer span:last-child {
        font-size: 18px;
    }

    .footericonTxt {
        font-size: 18px;
    }

    .footer-copyright {
        padding: 40px 10px;
    }


    .popup-content {
        max-width: 350px;
        border-radius: 20px;
    }


    .popup-content-txt-part-inner span:nth-child(2) {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .popup-content-txt-part-inner span:nth-child(3) {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .popup-content-btnclose {
        right: 10px;
    }

    .popup-content-txt-part {
        padding: 20px 30px;
    }

    .popup-content-txt-part-inner span:nth-child(1) {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .popup-content-input {
        height: 40px !important;
    }

    .btn-dark {
        height: 40px !important;
    }

}


@media (min-width:576px) and (max-width:767.9px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
    }

    .popup-content {
        max-width: 350px;
        border-radius: 20px;
    }


    .popup-content-txt-part-inner span:nth-child(2) {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .popup-content-txt-part-inner span:nth-child(3) {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .popup-content-btnclose {
        right: 10px;
    }

    .popup-content-txt-part {
        padding: 20px 30px;
    }

    .popup-content-txt-part-inner span:nth-child(1) {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .popup-content-input {
        height: 40px !important;
    }

    .btn-dark {
        height: 40px !important;
    }

    .servicesList {
        scrollbar-width: thin;
        scrollbar-color: var(--main-color) var(--border-color);
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px;
    }

    .servicesList::-webkit-scrollbar {
        height: 4px;
    }

    .servicesList::-webkit-scrollbar-thumb {
        background: var(--main-color);
        border-radius: 2px;
    }


    .navigation {
        top: 20px;
        padding: 0 10px;
    }

    .navigation .navbar-brand {
        font-size: 40px;
    }

    .navigation .nav-bg {
        padding: 15px 15px;
    }

    .hero-section::before {
        border-radius: 0 0 80px 80px;
    }

    .hero-largeTxt-area {
        position: relative;
        -webkit-transform: translateX(-0%);
        -ms-transform: translateX(-0%);
        transform: translateX(-0%);
        top: 0;
        left: 0;
        text-align: center;
    }

    .hero-contents {
        padding: 120px 0 20px;
    }


    .hero-LargeTxt {
        font-size: 100px;
        letter-spacing: 2px;
    }


    .hero-subTxt-area {
        position: relative;
        top: 0;
        padding: 15px 0 30px;
        gap: 15px;
        text-align: center;
        justify-content: center;
        -webkit-transform: translateY(-0%);
        -ms-transform: translateY(-0%);
        transform: translateY(-0%);
        max-width: 100%;
    }

    .hero-count {
        text-align: center;
    }


    .hero-subTxt {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .hero-count span:first-child {
        font-size: 50px;
    }

    .hero-count span:last-child {
        font-size: 14px;
    }


    .hero-image-area {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

    .hero-rating-area {
        bottom: 50%;
        padding: 12px;
        left: 20px;
        max-width: 200px;

    }

    .hero-main-large-image {
        max-width: 100%;
    }

    .hero-rating-area img {
        width: 40px;
        height: 40px;
        margin-left: -10px;
    }

    .hero-rating-box {
        margin-left: -10px;
        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    .center-btnpart {
        display: flex;
        justify-content: center;
    }

    .main-Boxbtn-outer {
        height: 48px;
    }

    .main-Boxbtn-Txt2 {
        font-size: 14px;
    }

    .main-Boxbtn-Txt1 {
        font-size: 14px;
    }

    .main-Boxbtn-circle {
        height: 48px;
        width: 48px;
        font-size: 14px;
    }

    .navigation .nav-link {
        font-size: 14px;
        font-weight: 500;
    }

    .navigation li {
        display: flex;
        justify-content: center;
        padding: 10px 0 10px 0 !important;
    }


    .about-section {
        padding: 100px 0 0;
    }


    .about-img-partMain {
        max-width: 100%;
        margin-top: 40px;
        height: 500px;
        object-fit: cover;
    }


    .about-txt-part-inner {
        position: relative;
        top: 0%;
        gap: 20px;
        -webkit-transform: translateY(-0%);
        -ms-transform: translateY(-0%);
        transform: translateY(-0%);
    }

    .topTxt-heading {
        padding-left: 100px;
        font-size: 16px;
    }

    .topTxt-heading::before {
        width: 80px;
    }

    .main-headingTxt {
        font-size: 45px;
    }

    p {
        font-size: 14px;
    }

    .textSlide-section {
        padding: 100px 0 100px;
    }

    .testslider-Txt {
        font-size: 40px;
    }

    .testslider-Txt img {
        max-width: 30px;
    }

    .textSlide-part2 {
        padding: 10px;
    }

    .testslider-Txt2 {
        font-size: 18px;
    }

    .service-section {
        padding: 0 0 80px;
    }

    .very-large-heading {
        font-size: 80px;
        letter-spacing: 2px;
    }

    .servicesList li {
        padding: 8px 15px;
        font-size: 20px;
        margin-bottom: 0;
    }

    .servicesList .servicesList-count {
        width: 38px;
        height: 38px;
        font-size: 14px;
    }

    .servicesList {
        display: flex;
        overflow-x: auto;
        gap: 20px;
    }

    .heading-bottom-space {
        margin-bottom: 30px;
    }

    .servicesList li:nth-child(even) {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .servicesList li:nth-child(odd) {
        -webkit-transform: rotate(-0deg);
        -ms-transform: rotate(-0deg);
        transform: rotate(-0deg);
    }


    .servicesList li.tab:nth-child(even).active {
        -webkit-transform: scale(1.06) rotate(0deg);
        -ms-transform: scale(1.06) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }

    .servicesList li.tab:nth-child(odd).active {
        -webkit-transform: scale(1, 1) rotate(-0deg);
        -ms-transform: scale(1, 1) rotate(-0deg);
        transform: scale(1, 1) rotate(-0deg);
    }

    .servicepaddingRight .service-lgImg {
        position: relative;
        top: 0;
    }

    .servicepaddingLeft .service-lgImg {
        display: none;
    }

    .service-lgImg {
        max-width: 100%;
        margin-top: 40px;
    }

    .team-card-headerImg {
        height: 500px;
        object-fit: cover;
    }

    .team-section {
        padding: 80px 0;
        border-radius: 60px;
    }

    .team-card-body {
        top: 50%;
    }

    .team-card-body-txt h4 {
        font-size: 20px;
    }

    .project-section {
        padding: 100px 0 0;
    }

    .project-cardmain {
        height: auto;
        padding: 20px 20px 20px 30px;
    }

    .project-cardmain-imgmain {
        height: 150px;
        width: 150px;
    }

    .project-cardmain-heading {
        font-size: 20px;
    }

    .project-card.expanded.project-cardmain {
        flex-wrap: wrap;
    }

    .project-card.expanded {
        height: auto;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;

    }

    .project-card.expanded .project-cardmain-imgmain {
        max-width: 300px;
        height: 300px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
    }

    .project-cardmain-imgpart {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

    .project-card.expanded .project-cardmain-imgpart {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .top-margin {
        margin-top: 40px;
    }

    .mainbtn-cicleBox {
        width: 120px;
        height: 120px;
        font-size: 14px;
    }

    .testimonial-section {
        padding: 100px 0;
        margin-bottom: 100px;
    }

    .testimonial-card-quotes-area i {
        z-index: 300px;
    }

    .testimonial-card-content-TXT {
        font-size: 16px;
    }

    .testimonial-card-content {
        padding: 0 0 0;
    }

    .testimonial-clientName-Txt {
        font-size: 20px;
    }

    .testimonial-section .custom-btn {
        font-size: 14px;
    }

    .footer-section {
        border-radius: 60px 60px 0 0;
    }

    .footer-largebgTXT {
        font-size: 150px;
    }

    .footer-largeheading {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .footer-contact-outerFlex {
        padding: 30px 0;
        margin-top: 20px;
        gap: 30px;
        margin-bottom: 20px;
    }

    .shape-blur_one {
        width: 150px;
        height: 150px;
    }

    .footer-social-outerarea {
        align-items: start;
        text-align: start;
    }

    .footer-section-inner {
        padding: 50px 0;
    }

    .testimonial-section .custom-btn {
        padding: 10px 20px;
    }

    .testimonial-section .owl-nav {
        bottom: -80px;
    }

    .footer-contact-outer span:last-child {
        font-size: 20px;
    }

    .footericonTxt {
        font-size: 20px;
    }

}


@media (min-width:768px) and (max-width:991.9px) {

    .container {
        max-width: 750px;
        margin: 0 auto;
    }

    .navigation {
        top: 20px;
    }

    .navigation .navbar-brand {
        font-size: 45px;
    }

    .navigation .nav-bg {
        padding: 20px 20px;
    }


    .navigation .nav-link {
        font-size: 14px;
        font-weight: 500;
    }

    .navigation li {
        display: flex;
        justify-content: center;
        padding: 10px 0 10px 0 !important;
    }





    .hero-LargeTxt {
        font-size: 190px;
    }

    .hero-rating-area {
        bottom: 100px;
        padding: 20px;
    }

    .hero-subTxt {
        font-size: 35px;
    }

    .hero-count span:first-child {
        font-size: 50px;
    }

    .hero-section::before {
        border-radius: 0 0 100px 100px;
    }

    .hero-main-large-image {
        max-width: 75%;
    }

    .hero-subTxt-area {
        gap: 20px;
        top: 65%;
        transform: translateY(-35%);
    }

    .main-Boxbtn-outer {
        padding: 15px 65px 15px 20px;
    }

    .main-headingTxt {
        font-size: 40px;
    }

    p {
        font-size: 15px;
    }

    .about-txt-part-inner {
        gap: 20px;
    }

    .testslider-Txt {
        font-size: 50px;
    }

    .very-large-heading {
        font-size: 110px;
    }



    .servicesList .servicesList-count {
        width: 38px;
        height: 38px;
        font-size: 14px;
        margin-right: 5px;
    }

    .servicesList li {
        margin-bottom: 30px;
        font-size: 20px;
        padding: 10px 15px;
    }



    .servicepaddingRight .service-lgImg {
        position: relative;
        top: 0;
    }

    .servicepaddingLeft .service-lgImg {
        position: relative;
        top: 20px;
    }

    .service-lgImg {
        height: 300px;
    }

    .project-section-txtpart {
        gap: 20px;
    }

    .project-cardmain {
        padding: 34px 32px 34px 60px;
    }

    .project-cardmain-heading {
        font-size: 30px;
    }

    .project-card.expanded .project-cardmain-imgmain {
        height: 300px;
        width: 300px;
    }

    .testslider-Txt img {
        max-width: 40px;
    }

    .footer-largeheading {
        font-size: 50px;
    }

    .footer-contact-outerFlex {
        padding: 0 0;
    }

    .footer-contact-outer span:last-child {
        font-size: 25px;
    }

    .footer-section-inner {
        padding: 100px 0px;
    }

    .footer-section {
        border-radius: 80px 80px 0 0;
    }

    .footer-social-outerarea {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 30px;
    }

    .footer-largebgTXT {
        font-size: 200px;
    }

}


@media (min-width:992px) and (max-width:1199.9px) {
    .navigation .nav-link {
        font-size: 14px;
    }

    .container {
        max-width: 950px;
        margin: 0 auto;
    }

    .navigation li {
        padding: 0 0 0 5px;
    }


    .main-Boxbtn-outer {
        padding: 15px 65px 15px 20px;
    }

    .navigation .navbar-brand {
        font-size: 50px;
    }

    .hero-LargeTxt {
        font-size: 240px;
    }

    .hero-section::before {
        border-radius: 0 0 120px 120px;
    }

    .hero-main-large-image {
        max-width: 70%;
    }

    .hero-rating-area {
        bottom: 140px;
    }

    .hero-subTxt {
        font-size: 45px;
    }

    .hero-count span:first-child {
        font-size: 65px;
    }

    .hero-subTxt-area {
        gap: 20px;
        top: 65%;
        transform: translateY(-35%);
    }

    .main-headingTxt {
        font-size: 55px;
    }

    .testslider-Txt {
        font-size: 60px;
    }

    .very-large-heading {
        font-size: 160px;
    }

    .servicesList li {
        font-size: 20px;
        padding: 15px 30px;
    }

    .servicesList .servicesList-count {
        margin-right: 20px;
    }

    .project-cardmain-heading {
        font-size: 30px;
    }

    .footer-largeheading {
        font-size: 65px;
    }

    .footer-contact-outer span:last-child {
        font-size: 20px;
    }

    .footer-largebgTXT {
        font-size: 280px;
    }

    .footer-section {
        border-radius: 100px 100px 0 0;
    }

}



@media (min-width:1200px) and (max-width:1399.9px) {


    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .navigation li {
        padding: 0 0 0 5px;
    }


    .navigation {
        padding: 0 10px;
    }


    .main-Boxbtn-outer {
        padding: 15px 65px 15px 20px;
    }

    .navigation .navbar-brand {
        font-size: 50px;
    }

    .hero-LargeTxt {
        font-size: 280px;
    }

    .hero-section::before {
        border-radius: 0 0 160px 160px;
    }

    .hero-main-large-image {
        max-width: 80%;
    }

    .hero-rating-area {
        bottom: 180px;
    }

    .hero-subTxt {
        font-size: 50px;
    }

    .hero-count span:first-child {
        font-size: 70px;
    }

    .hero-subTxt-area {
        gap: 30px;
        top: 65%;
        transform: translateY(-35%);
    }

    .main-headingTxt {
        font-size: 55px;
    }

    .testslider-Txt {
        font-size: 65px;
    }

    .very-large-heading {
        font-size: 180px;
    }

    .servicesList li {
        font-size: 25px;
        padding: 15px 30px;
    }

    .servicesList .servicesList-count {
        margin-right: 25px;
    }

    .project-cardmain-heading {
        font-size: 35px;
    }

    .footer-largeheading {
        font-size: 70px;
    }

    .footer-contact-outer span:last-child {
        font-size: 25px;
    }

    .footer-largebgTXT {
        font-size: 300px;
    }

    .footer-section {
        border-radius: 130px 130px 0 0;
    }

}